<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/header' %>
</head>
<body>
	<%= render :partial => 'layouts/sign_panel' %>
	<div class="content">
		<%= yield %>
	</div>
	<%= render :partial => 'layouts/footer' %>	
</body>
</html>
